body{
    background: crimson;
}

#footer{
    text-align: center;
}

.heading{
    text-align: center;
    color: white;
    font-size: 34px;
}

.header{
    width: 100%;
    height: 50px;
    color: black;
    position: relative;
}